/* ===========================
   NIGHT MODE
=========================== */

body.night-mode                        { background-color: #000; color: var(--white); }
body.night-mode #home h1               { color: var(--white); }
body.night-mode #about p,
body.night-mode h2                     { color: rgba(255, 255, 255, 0.6); }
body.night-mode #contact a             { color: var(--white); border-color: var(--white); }

body.night-mode section                { pointer-events: none; }
body.night-mode #name-toggle,
body.night-mode section a,
body.night-mode .project-summary       { pointer-events: auto; }

body.night-mode #particle-canvas {
    opacity: 1;
    pointer-events: auto;
}




body.night-mode .edu-meta          { color: var(--white); }

body.night-mode .project-image img { filter: invert(1); }                                                                                

body.night-mode .img-multiply {
    mix-blend-mode: normal;
}


body.night-mode .project-card:not(:first-child) { border-color: rgba(255, 255, 255, 0.12); }
body.night-mode .project-tag       { border-color: rgba(255, 255, 255, 0.18); }
body.night-mode .project-link      { color: var(--white); }
